body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif; /* Use a web-safe font stack */
    line-height: 1.6;
    background-color: #fff;
    color: #333;
    
}


/* navbar */

.navbar{
    background-color: #ffffff ;
    padding-left: 50px;
    border-bottom: 1px solid #000;
   
}
.navbar-brand {
    padding-right: 40px;
}
.nav-item{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 90%;
}

/* main */
.container {
   /* max-width: 1200px; /\* Can be adjusted to fit your design needs *\/*/
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    color: #000;
}



/* header */
.headerdiv {
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    height: 50%;
}

.headerp {
    padding: 3rem;
    margin-bottom: 2rem;
}



.headerrow > div > p {
margin-top: 2rem;
}


section{
    height: 100vh;
}


h2, h2, h3 {
    font-weight: 500;
    color: #222;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}



footer {
background-color: #fff;
position: fixed;
  left: 0;
   bottom: 0;
   width: 100%;
   padding: 20px;
}

.logo-container {
    display: flex;
    justify-content: center; /* Align logos horizontally center */
    padding-top: 20px;
    gap: 30px; /* Provides space between logos */
    margin-bottom: 20px; /* Space between logos and copyright text */
}

.logo-container img {
    height: 50px; /* Adjust as per your needs */
    width: auto;
}


